.container-fluid {
    height: "100vh";
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .row-cols-1 > .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  @media (min-width: 768px) {
    .row-cols-md-2 > .col {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 992px) {
    .row-cols-lg-3 > .col {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }
  